@import './../../styles/global.scss';

.item {
  display: flex;
  gap: 12px;
  align-items: center;
  min-height: 35px;
  max-width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $mainBlackColor;
  @include MainFont;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-wrap: wrap;
  transition: all 0.3s ease-in-out;

  &:has(a):hover {
    color: $accentColor;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }

  & svg {
    max-width: 23px;
    width: 100%;
    height: 23px;
  }
}

@media screen and (max-width: 768px) {
  .item {
    gap: 10px;
    min-height: 30px;
    max-width: 230px;
    font-size: 14px;
    line-height: 14px;

    & svg {
      max-width: 18px;
      height: 18px;
    }
  }
}

@media screen and (max-width: 520px) {
  .item {
    gap: 12px;
    min-height: 36px;
    max-width: 300px;
    font-size: 15px;
    line-height: 18px;

    & svg {
      max-width: 24px;
      height: 24px;
    }
  }
}
