@import './../../styles/global.scss';

.button {
  text-transform: uppercase;
  @include MainFont;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8.11px;
  line-height: 14.4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: $mainWhiteColor;
  color: $mainBlackColor;
  box-shadow: 0px 4.05px 5.68px 0px #00000008;


  & svg {
    width: 30px;
    height: 30px;
  }

  &_dark {
    line-height: 15.76px;
    padding: 18px 0;
    color: $mainWhiteColor;
    background-color: $mainBlackColor;
    box-shadow: 0px 3.91px 5.48px 0px #00000008;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: $accentColor;
    }
  }
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 10px;
    font-weight: 500;

    &_dark {
      padding: 10px 5px;
    }
  }
}

@media screen and (max-width: 520px) {
  .button {
    font-size: 12px;
    font-weight: 700;
    padding: 16px 20px;
    text-align: left;
    white-space: pre-wrap;

    & svg {
      min-width: 30px;
    }

    &_dark {
      display: none;
    }
  }
}
